<ion-view view-title="{{vm.category}}">
	<!-- <ion-nav-buttons side="right">
		<button class="button button-clear icon ion-bag"  badge="5" badge-style="badge-assertive" ng-click="vm.showCart()"><span class="badge badge-assertive">3</span></button>
	</ion-nav-buttons> -->
	<ion-content>
		<div ng-repeat="p in vm.products">
			<div class="card " ng-click="vm.goTo(vm.products[$index].thumb)">

				<a class="item item-text-wrap">
					<h3>{{vm.products[$index].title}}</h3>
					<h4>{{vm.products[$index].body}}</h4>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
