<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Category</h1>
		<button class="button button-clear button-primary" ng-click="cancel()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="title" ng-model="data.title">
			</label>
			<label class="item item-input">
				<textarea type="text" placeholder="desc" ng-model="data.desc"></textarea>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="url" ng-model="data.url">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="thumb" ng-model="data.thumb">
			</label>
			<button class="button button-full button-positive" ng-click="save()">Save</button>
		</div>
	</ion-content>
</ion-modal-view>