<ion-view cache-view="false">
	<ion-nav-title>
		{{ vm.item.title }}
	</ion-nav-title>
	<ion-content>

		<ul class="list">

			<li class="item item-icon-right"  ng-click="vm.changeTitle()">
				<label>Title:</label>
				<p class="padding">{{vm.item.title}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeBody()">
				<label>Body:</label>
				<p class="padding">{{vm.item.body}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.chooseCategory()">
				<label>Category:</label>
				<p class="padding">{{vm.item.category.value}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.chooseTags()">
				<label>Tags:</label>
				<p class="padding">{{vm.item.tagsString}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<div class="item item-divider item-icon-right">
				Images
				<i class="icon ion-plus" ng-if="!vm.isWebView" ng-click="vm.uploadImage()"></i>
				<label class="custom-file-upload" ng-if="vm.isWebView">
					<input type="file" id="file" file-change="vm.uploadImageWebView($event, files)"/>
					<i class="icon ion-plus"></i>
				</label>
			</div>

			<li class="item">
				<div ng-repeat="group in vm.imageGroups" class="row">
					<div ng-repeat="image in group" class="col col-{{vm.columnWidth}}" on-hold="vm.removeImage(image)">
						<div class="card" style="margin: 5px;">
							<div class="item item-image">
								<img ng-src="{{image.url}}">
							</div>
						</div>
					</div>
				</div> <!--/ row -->
			</li>
		</ul>
	</ion-content>
</ion-view>
